{% extends 'base.html' %}
{% load static %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'review/feed.css' %}">
{% endblock css_files %}

{% block content %}
<div class="main-div">
	<section class="topform-div">
	  <form action="{%url 'create_ticket' %}">
      <input type="submit" value="Create ticket" />
    </form>

	  <form action="{%url 'create_review' %}">
      <input type="submit" value="Create review" />
    </form>
	</section>

    {% for post in posts %}
       {% if post.content_type == 'TICKET' %}
         {% include 'review/partials/ticket_snippet.html' with ticket=post %}
       {% elif post.content_type == 'REVIEW' %}
          {% include 'review/partials/review_snippet.html' with review=post %}
       {% endif %}
    {% endfor %}
</div>
  <!--
    -->
{% endblock content %}
