<!--create another field in your form and pass it the pk of the object-->
<!--https://stackoverflow.com/questions/50547018/delete-object-with-form-in-django-->

{% extends 'base.html' %}
{% load static %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'review/follower_update.css' %}">
{% endblock css_files %}

{% block content %}

<div class="main-div">
  <h2>Follow other users</h2>  
    <p>{{ message }}</p>

			<form class="form-send" method="post">
		  <div class="send-form">
			{% csrf_token %}
			{{ form.as_p }}
		  </div>
		  <div class="send-btn">
				<button type="submit">Send</button>
		  </div>
			</form>

  <h2>{{ request.user}} Your Followee are</h2>
  
    {% for user in request.user.following.all %}
      <div class="followee">
				<div class="followee-user">
						{{ user }}
				</div>
        <form class="form-delete" method="post">
            {% csrf_token %}
            {{ delete_form }}
            <button type="submit" name="pk" value="{{ user.pk }}" >Delete</button>
        </form>
      </div>
    {% endfor %}

      <h2>{{ request.user}} Your Follower are</h2>
  
      <div class="follower">
        {% for follower in my_followers %}
        <p>{{ follower }}</p>
      
        {% endfor %}
      </div>

</div>

{% endblock content %}
