{% extends 'base.html' %}
{% block content %}
  <h2>Update your review</h2>  
  <p> Review created : {{ review_form.instance.time_created }}</p>
  <p> {{ review_form.instance.user }} has requested a review</p>
  <p> Title is :{{ review_form.instance.ticket.title }} </p>
  <p> description is :{{ review_form.instance.ticket.description }} </p>
  <img src="{{ review_form.instance.ticket.image.url }}" alt="Book cover" width="130" height="200">
    <p>Headline : {{ review_form.headline }}</p>
    <!-- 
      <p>Rating : {{ review_form.rating }}</p>
    
    <fieldset>
    <legend>{{ review_form.rating.label }}</legend>
    {% for radio in review_form.rating %}
    <div class="myradio">
        {{ radio }}
    </div>
    {% endfor %}
    </fieldset>
    -->
    <p>Rating :</p>
    {% for radio in review_form.rating %}
    <label for="{{ radio.id_for_label }}">
        {{ radio.tag }}
        <span class="radio"> {{ radio.choice_label }}</span>
    </label>
    {% endfor %}


    <p>Body : {{ review_form.body }}</p>
    <button type="submit">Send</button>
  </form>
{% endblock content %}
