<h1>Ticket Update</h1>
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p>Title : {{ form.title }}</p>
  <p>Description : {{ form.description }}</p>
 	<!-- 
    instance needed to display image : 
   	https://stackoverflow.com/questions/9830183/django-how-can-i-display-a-photo-saved-in-imagefield
	-->
   <img src="{{ form.instance.image.url }}" alt="Book cover" width="130" height="200">
   <p>{{ form.image }}</p>
  <input type="submit" value="Send">
  </form>
{% if request.user != form.instance.user %}
   <p>Vous êtes connecté en tant que {{ request.user }}.</p>
   <p>Le ticket appartient a {{ form.instance.user }}.</p>
{% else %}
   <p>Vous êtes connecté en tant que {{ request.user }}.</p>
   <p>Le ticket appartient a {{ form.instance.user }}.</p>
{% endif %}
	
