  {% if  review.rating == 1  %}
	 <strong>Avoid</strong>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_border_purple500 </span>
	 <span class="material-icons-outlined"> star_border_purple500 </span>
	 <span class="material-icons-outlined"> star_border_purple500 </span>
	 <span class="material-icons-outlined"> star_border_purple500 </span>
  {% elif  review.rating == 2  %}
	 <strong>Bad</strong>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_border_purple500 </span>
	 <span class="material-icons-outlined"> star_border_purple500 </span>
	 <span class="material-icons-outlined"> star_border_purple500 </span>
  {% elif  review.rating == 3  %}
	 <strong>Acceptable</strong>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_border_purple500 </span>
	 <span class="material-icons-outlined"> star_border_purple500 </span>
  {% elif  review.rating == 4  %}
	 <strong>Good</strong>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_border_purple500 </span>
  {% elif  review.rating == 5  %}
	 <strong>Exceptional</strong>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_purple500 </span>
	 <span class="material-icons-outlined"> star_purple500 </span>
  {% endif %}

