<p>{{ review.user }} published a review  {{ review.time_created }}</p>
{% include 'review/partials/rating_snippet.html' %}
<p> {{ review.body }}</p>
<div>
  <section class="ticket-info" >
    <p>Ticket from  {{ review.ticket.user }}</p>
    <p>{{ review.ticket.title }}</p>
  </section>
{% if request.user == review.user %}
  <img src="{{ review.ticket.image.url }}" alt="Book cover" width="130" height="200">
{% else %}
	<section class="form-div">
    <form method="post" action="{%url 'write_review' %}">
      {% csrf_token %}
      <button type="submit" name="ticket_pk" value="{{ review.ticket.pk }}" >Write review</button>
    </form>
	</section>
</div>
{% endif %}

