<!---->
<p>{{ ticket.user }} requested a review {{ ticket.time_created }}</p>  
     <p>  {{ ticket.title }}</p>
     <p>  {{ ticket.description }}</p>
       {% if ticket.user == request.user  %}
       {% if ticket.review_set.all %}
          
			   <img src="{{ ticket.image.url }}" alt="Book cover" width="130" height="200">
          <!--<p>----------------------You already have already a review !!!!!!!!!!!!!!</p>-->
       {% else %}
          <!--<p>++++++++++++++++++++++NO review</p>-->
        	<section class="form-div">
            <form method="post" action="{%url 'write_review' %}">
              {% csrf_token %}
              <button type="submit" name="ticket_pk" value="{{ ticket.pk }}" >Write review</button>
            </form>
        	</section>
       {% endif %}
         {% else %}
        	<section class="form-div">
            <form method="post" action="{%url 'write_review' %}">
              {% csrf_token %}
              <button type="submit" name="ticket_pk" value="{{ ticket.pk }}" >Write review</button>
            </form>
        	</section>
       {% endif %}



